[submodule "release_development/git-ftp"]
	path = release_development/git-ftp
	url = https://github.com/git-ftp/git-ftp
[submodule "release_development/GitPushy"]
	path = release_development/GitPushy
	url = https://github.com/frinknet/GitPushy
[submodule "release_development/deploy_git_rsync"]
	path = release_development/deploy_git_rsync
	url = https://github.com/eigan/deploy
